
<nz-layout class="tf-app-layout">

  <nz-layout  class="tf-layout-side-bar" [ngClass]=" 'bg-'+currentMenuColour ">
    <div class="side-bar-left-column">
      <div class="tf-layout-header-content justify-content-center">
        <tf-ng-hexagon
          colour="white"
          [outline-colour]="currentMenuColour === 'white' ? 'blue' : 'white'"
          size="m" [as-button]="false"
        >
          <tf-ng-product-initials
            colour="blue"
            code="t"
            size="m"
          ></tf-ng-product-initials>
        </tf-ng-hexagon>
      </div>

      <!-- -->
      <div class="tf-draw-body-content justify-content-center">
        <tf-ng-hexagon
          nz-tooltip
          [nzTooltipTitle]="currentMenuType === 'app-menu' ? '' : appTitle + ' navigation'"
          nzTooltipOverlayClassName="tf-sidebar-tooltip tf-tooltip-white"
          [nzTooltipPlacement]="currentMenuType === 'app-menu' ? 'left' : 'right'"
          (click)="onToggleMenuIconClicked('app-menu')"
          [colour]="currentMenuType === 'app-menu' ? 'navy' :'blue'"
          outline-colour="white"
          size="m"
          [as-button]="false"
        >
          <i nz-icon class="white"
          [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          ></i>
        </tf-ng-hexagon>
      </div>

      <div class="tf-layout-footer-content justify-content-center">
        <tf-ng-hexagon
          nz-tooltip
          [nzTooltipTitle]="currentMenuType === 'app-store' ? '' : 'Switch to...'"
          nzTooltipOverlayClassName="tf-sidebar-tooltip tf-tooltip-white"
          [nzTooltipPlacement]="currentMenuType === 'app-store' ? 'left' : 'right'"
          [nzTooltipTrigger]="currentMenuType === 'app-store' ? null : 'hover'"
          (click)="onToggleMenuIconClicked('app-store')"
          [colour]="
            currentMenuColour === 'white' ? 'white'
            : currentMenuType === 'app-store' ? 'white' : 'blue'"
          [outline-colour]="
            currentMenuColour === 'white' ? 'blue'
            : currentMenuType === 'app-menu' ? 'blue' : 'white'"
          size="m"
        >
          <i
            nz-icon
            [ngClass]="
              currentMenuColour  === 'white' ? 'blue'
              :  currentMenuType === 'app-store' ? 'blue' : 'white'"
            nzType="appstore" nzTheme="outline"
          ></i>
        </tf-ng-hexagon>
      </div>

    </div>
  </nz-layout>

  <nz-layout class="tf-app-content-container">
    <nz-header class="app-header">
      <tf-ng-header
        [show-app-logo]="isMobile ? true : false"
        [is-logo-clickable]="false"
        app-code="T"
        [app-logo-size]="isMobile ? 's' : 'm'"
      >

        <div headerIcons *ngIf="isMobile" >
          <tf-ng-hexagon
            (click)="onToggleMenuIconClicked('app-menu')"
            size="s"
            colour="blue"
            outline-colour="white"
          >
            <i nz-icon class="white"
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
          </tf-ng-hexagon>
        </div>

        <div quickLinks>
          <button
            nz-button
            nz-dropdown
            nzTrigger="click"
            nzPlacement="bottom"
            [nzDropdownMenu]="headerQuickLinksMenu"
            class="tf-app-quick-link-btn"
          >
            <tf-ng-hexagon
              size="xl"
              colour="aqua"
              outline-colour="blue"
            >
              <i nz-icon nzType="plus" nzTheme="outline" class="tf-app-quick-link-icon"></i>
            </tf-ng-hexagon>
          </button>
        </div>
        <!-- QL template -->
        <nz-dropdown-menu #headerQuickLinksMenu="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item>Add User</li>
            <li nz-menu-item>Add Course</li>
          </ul>
        </nz-dropdown-menu>

        <tf-ng-client-logo
          #tfAppHeaderClientLogo
          id="tfAppHeaderClientLogo"
          clientLogo
          [client-logo-source]="clientLogoSource"
          [show-user-account]="true"
        >
          <ul nz-menu userAccountMenu class="user-account">
            <li nz-menu-item>Sign Out</li>
          </ul>
        </tf-ng-client-logo>

      </tf-ng-header>
    </nz-header>

    <tf-ng-main-content>
      <router-outlet #outlet="outlet"></router-outlet>
    </tf-ng-main-content>

  </nz-layout>
</nz-layout>



<!-- Desktop menu header -->
<ng-template #menuDrawHeader>
  <div class="menu-draw-header-template"></div>
</ng-template>

<!-- Mobile menu header -->
<ng-template #mobileMenuDrawHeader>
  <div class="mobile-menu-draw-header-template">
    <tf-ng-hexagon
      (click)="onCloseDrawer()"
      size="s"
      colour="blue" outline-colour="blue"
    >
      <i nz-icon class="white" nzType="close"></i>
    </tf-ng-hexagon>

    <tf-ng-hexagon
      (click)="onToggleMenuIconClicked('app-menu')"
      size="s"
      [colour]="currentMenuType === 'app-menu' ? 'navy' : 'blue'"
      [outline-colour]="currentMenuType === 'app-menu' ? 'navy' : 'white'"
    >
      <i
        nz-icon
        class="white"
        nzType="menu"
        [nzType]="currentMenuType === 'app-menu' ? isCollapsed ? 'menu-unfold' : 'menu-fold' : 'menu-unfold' "
      ></i>
    </tf-ng-hexagon>

    <tf-ng-hexagon
      (click)="onToggleMenuIconClicked('app-store')"
      size="s"
      [colour]="currentMenuType === 'app-store' ? 'navy' : 'white'"
      [outline-colour]="currentMenuType === 'app-store' ? 'navy' : 'blue'"
    >
      <i
        nz-icon
        [ngClass]="currentMenuType === 'app-store' ? 'white' : 'blue'"
        nzType="appstore" nzTheme="outline"
      ></i>
    </tf-ng-hexagon>

  </div>
</ng-template>

<!-- App Menu/Navigation Template -->
<ng-template #drawerAppMenuTemplate let-data let-drawerRef="drawerRef">
  <div class="tf-draw-body-content app-menu">
    <ul class="mobile-menu" nz-menu nzTheme="light" nzMode="inline" >
      <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome" (click)="onItemSelected()">Welcome</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/monitor" (click)="onItemSelected()">Monitor</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Workplace</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Form" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>Basic Form</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</ng-template>


<!-- App Store Menu -->
<ng-template #drawerAppStoreTemplate let-data let-drawerRef="drawerRef">
  <div class="tf-draw-body-content app-store">

    <div class="menu-section">
      <div class="app-store-item" (click)="onAppSelected('home')">
        <tf-ng-hexagon colour="white" outline-colour="white" size="xs">
          <tf-ng-product-initials
            colour="blue" size="xs" code="t"
          ></tf-ng-product-initials>
        </tf-ng-hexagon>
        Back to Transform Hub
      </div>
    </div>

    <div class="menu-section">
      <h3 nzTypography class="white">Your apps</h3>
      <div *ngFor="let app of appList" class="app-store-item" (click)="onAppSelected(app.code)">
        <tf-ng-hexagon colour="blue" outline-colour="white" size="xs">
          <tf-ng-product-initials
            colour="white" size="xs" [code]="app.code"
          ></tf-ng-product-initials>
        </tf-ng-hexagon>
        {{ app.name }}
      </div>
    </div>

    <div class="menu-section">
      <h3 nzTypography class="white">Discover more</h3>
      <div *ngFor="let app of discoverAppList" class="app-store-item">
        <tf-ng-hexagon
          colour="blue" outline-colour="white" size="xs"
          (click)="onAppSelected(app.code)"
        >
          <tf-ng-product-initials
            colour="white" size="xs" [code]="app.code"
          ></tf-ng-product-initials>
        </tf-ng-hexagon>
        {{ app.name }}
      </div>
    </div>

  </div>
</ng-template>

<!-- Mobile Menu -->
<ng-template #drawerMobileTemplate let-data let-drawerRef="drawerRef">
  <ng-container
    *ngIf="currentMenuType === 'app-menu'"
    [ngTemplateOutlet]="drawerAppMenuTemplate"
  ></ng-container>
  <ng-container
    *ngIf="currentMenuType === 'app-store'"
    [ngTemplateOutlet]="drawerAppStoreTemplate"
  ></ng-container>
</ng-template>


