:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-layout{
  /* border: solid 3px red; */
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  overflow-y: hidden;
}

.app-content{
  overflow: auto;
}

.tf-layout-side-column{
  min-height: 100vh;
  position: relative;
  /*  */
  min-width:80px;
  max-width:80px;
  /*  */
  display: none;
  flex-direction: column;
  z-index: 1500;
}
.side-bar-left-column{
  /* height: 100vh; */
  flex: 1 0 0%;
  position: relative;
  display: flex;
  flex-direction: column;
  border-right:solid 1px #fff;
  color: #fff;
}
.tf-layout-side-column.bg-blue .side-bar-left-column{
  border-color:#fff;
  color: #fff;
}
.tf-layout-side-column.bg-white .side-bar-left-column{
  border-color:#00f;
  color: #00f;
}
.tf-layout-header-content{
  display: flex;
	align-items: flex-end;
  justify-content: center;
  position: relative;
  height: 74px;
  overflow: hidden;
}
.tf-layout-body-content{
  display: flex;
  justify-content: center;
  position: relative;
  flex:1 0 0%;
  overflow: hidden;
  padding:0.7rem 0;
}

.tf-layout-body-content.app-store{
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding:0.7rem 1.4rem;
}

.menu-section{
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 2rem;
}
.tf-layout-footer-content{
  display: flex;
	align-items: flex-end;
  justify-content: center;
  position: relative;
  overflow: hidden;
  padding:0.7rem 0;
  margin: 20px 0;
}
.app-header{
  margin-bottom: 1.4rem;
  padding: 0;
}

.menu-draw-header-template{
  height: 42px;
  line-height: 27px;
  display: flex;
  flex: 1 0 0%;
  justify-content: space-between;
}

.app-store-item{
  height:40px;
  /* flex:1 0 0%; */
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 5px;
}
.app-store-item tf-ng-hexagon{
  margin-right: 12px;
}
/* .tf-mobile-float-menu{
  display: block;
  position: absolute;
  left:15px;
  bottom: 28px;
  z-index: 1500;
} */
/* tf-ng-main-content{
  margin-bottom: 65px;
} */

/* .tf-mobile-menu-footer-content tf-ng-hexagon{
  margin-right: 10px;
  margin-bottom: 0;
}
.tf-mobile-menu-footer-content{
  display: flex;
  margin-left: 50px;
  padding:0;
  align-items: flex-start;
  position: relative;
  overflow: hidden;
} */



@media (min-width: 576px) {
  .tf-layout-side-column{
    display: flex;
  }
  /* .side-bar-left-column{
    display: flex;
  } */
}
