


<nz-layout (window:resize)="onScreenResize()" class="app-layout">

  <nz-layout  class="tf-layout-side-column">
    <div #sideBarColumn class="side-bar-left-column">
      <div class="tf-layout-header-content justify-content-center">
        <tf-ng-hexagon colour="white" size="m" [as-button]="false">
          <tf-ng-product-initials
            colour="blue"
            code="t"
            size="m"
          ></tf-ng-product-initials>
        </tf-ng-hexagon>
      </div>

      <div class="tf-layout-body-content justify-content-center">
        <tf-ng-hexagon
          (click)="onToggleMenuIconClicked('app-menu')"
          colour="blue"
          outline-colour="white"
          size="m"
          [as-button]="false"
        >
          <i nz-icon
          [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          ></i>
        </tf-ng-hexagon>
      </div>

      <div class="tf-layout-footer-content justify-content-center">
        <tf-ng-hexagon
          (click)="onToggleMenuIconClicked('app-store')"
          colour="blue"
          outline-colour="white"
          size="m"
          [as-button]="false"
        >
          <i nz-icon nzType="appstore" nzTheme="outline"></i>
        </tf-ng-hexagon>
      </div>

    </div>
  </nz-layout>

  <nz-layout class="app-content">
    <nz-header class="app-header">
      <tf-ng-header
        [show-app-logo]="isMobile ? true : false"
        [is-logo-clickable]="false"
        app-code="T"
        [app-logo-size]="'m'"
      >

        <div headerIcons *ngIf="isMobile" >
          <tf-ng-hexagon
            (click)="onToggleMenuIconClicked('app-menu')"
            size="m"
            colour="blue"
            outline-colour="white"
          >
            <i nz-icon class="white"
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
          </tf-ng-hexagon>
        </div>

        <div quickLinks>
          <button
            nz-button
            nz-dropdown
            nzTrigger="click"
            nzPlacement="bottom"
            [nzDropdownMenu]="headerQuickLinksMenu"
            class="tf-app-quick-link-btn"
          >
            <tf-ng-hexagon
              size="xl"
              colour="aqua"
              outline-colour="blue"
            >
              <i nz-icon nzType="plus" nzTheme="outline" class="tf-app-quick-link-icon"></i>
            </tf-ng-hexagon>
          </button>
        </div>
        <!-- QL template -->
        <nz-dropdown-menu #headerQuickLinksMenu="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item>Add User</li>
            <li nz-menu-item>Add Course</li>
          </ul>
        </nz-dropdown-menu>

        <tf-ng-client-logo
          #tfAppHeaderClientLogo
          id="tfAppHeaderClientLogo"
          clientLogo
          [client-logo-source]="clientLogoSource"
          [show-user-account]="false"
        >
        </tf-ng-client-logo>

      </tf-ng-header>
    </nz-header>

    <tf-ng-main-content>
      <router-outlet #outlet="outlet"></router-outlet>
    </tf-ng-main-content>

  </nz-layout>
</nz-layout>

<!--
<div class="tf-mobile-float-menu">
  <button
    nz-button
    nzPlacement="bottom"
    class="tf-app-quick-link-btn"
    (click)="onToggleMenuIconClicked('app-menu')"
  >
    <tf-ng-hexagon
      size="sm"
      colour="aqua"
      outline-colour="blue"
    >
      <i nz-icon nzType="menu" nzTheme="outline" class="tf-app-quick-link-icon"></i>
    </tf-ng-hexagon>
  </button>
</div> -->

<!-- Side -->
<nz-drawer
  [nzClosable]="true"
  [nzVisible]="!isCollapsed"
  nzPlacement="left"
  [nzTitle]="menuDrawHeader"
  [nzOffsetX]="isMobile ? 0 : 80"
  [nzWidth]="isMobile ? '100%' : 260"
  (nzOnClose)="onItemSelected()"
>
  <ng-container *nzDrawerContent>
    <p>Some contents...</p>
    <p>Some contents...</p>
    <p>Some contents...</p>
  </ng-container>
</nz-drawer>
<ng-template #menuDrawHeader>
  <div class="menu-draw-header-template">
    hjhjhkj
  </div>
</ng-template>



<!-- Mobile Bottom  -->
<!-- <nz-drawer
  [nzClosable]="false"
  [nzPlacement]="'bottom'"
  [nzHeight]="100"
  [nzVisible]="!footerMenuIsCollapsed"
  nzZIndex="1000"
  nzMaskClosable=false
  nzMask=false
  nzWrapClassName="tf-bottom-mobile-initial-drawer"
  [nzMaskStyle]="bottomDrawMaskStyle"
  (nzOnClose)="onFloatingMenuClicked()"
>
  <ng-container *nzDrawerContent>
    <div class="tf-mobile-menu-footer-content">
      <tf-ng-hexagon
        (click)="onFooterMenuClicked('app-menu')"
        colour="blue"
        outline-colour="white"
        size="xs"
        [as-button]="false"
      >
        <i nz-icon
        [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
        ></i>
      </tf-ng-hexagon>


      <tf-ng-hexagon
        (click)="onFooterMenuClicked('app-store')"
        colour="blue"
        outline-colour="white"
        size="xs"
        [as-button]="false"
      >
        <i nz-icon nzType="appstore" nzTheme="outline"></i>
      </tf-ng-hexagon>


    </div>
  </ng-container> -->

  <!-- Mobile Sub -->
  <!-- <nz-drawer
  [nzClosable]="true"
  [nzPlacement]="'bottom'"
  [nzHeight]="'calc(100% - 100px)'"
  [nzVisible]="!footerMenuItemsIsCollapsed"
  [nzTitle]="menuDrawHeader"
  [nzOffsetY]="100"
  (nzOnClose)="onFloatingMenuClicked()"
  >
  <ng-container *nzDrawerContent>
    <p>Some contents...</p>
    <p>Some contents...</p>
    <p>Some contents...</p>
    <button (click)="onTestClicked('TEST')">Test!!!!!</button>
  </ng-container>
  </nz-drawer>

</nz-drawer> -->
