:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.tf-layout-side-bar{
  min-height: 100vh;
  position: relative;
  /*  */
  min-width:80px;
  max-width:80px;
  /*  */
  display: none;
  flex-direction: column;
  z-index: 1005;
  transition-property: color, background-color, border-color;
	transition-duration: 150ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.side-bar-left-column{
  /* height: 100vh; */
  flex: 1 0 0%;
  position: relative;
  display: flex;
  flex-direction: column;
  border-right:solid 1px #D0DFE3;
  color: #fff;
}
.tf-layout-side-bar.bg-blue .side-bar-left-column{
  color: #ffffff;
}
.tf-layout-side-bar.bg-white .side-bar-left-column{
  color: #224595;
}
.tf-layout-header-content{
  display: flex;
	align-items: flex-end;
  justify-content: center;
  position: relative;
  min-height: 74px;
  height: 74px;
  overflow: hidden;
}
/* need footer and body too */



/* KEEP */
.tf-draw-body-content{
  display: flex;
  justify-content: center;
  position: relative;
  flex:1 0 0%;
  overflow: hidden;
  padding:0.7rem 0;
}

.tf-draw-body-content.app-store{
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding:0.7rem 1.4rem;
}

.menu-section{
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 2rem;
}
.tf-layout-footer-content{
  display: flex;
	align-items: flex-end;
  justify-content: center;
  position: relative;
  overflow: hidden;
  padding:0.7rem 0;
  margin: 20px 0;
}
.app-header{
  margin-bottom: 1.4rem;
  padding: 0;
}

.menu-draw-header-template{
  height: 42px;
  line-height: 27px;
  display: flex;
  flex: 1 0 0%;
  justify-content: space-between;
}

.app-store-item{
  height:40px;
  /* flex:1 0 0%; */
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 5px;
}
.app-store-item tf-ng-hexagon{
  margin-right: 12px;
}
/* .tf-mobile-float-menu{
  display: block;
  position: absolute;
  left:15px;
  bottom: 28px;
  z-index: 1500;
} */
/* tf-ng-main-content{
  margin-bottom: 65px;
} */

/* .tf-mobile-menu-footer-content tf-ng-hexagon{
  margin-right: 10px;
  margin-bottom: 0;
}
.tf-mobile-menu-footer-content{
  display: flex;
  margin-left: 50px;
  padding:0;
  align-items: flex-start;
  position: relative;
  overflow: hidden;
} */



@media (min-width: 576px) {
  .tf-layout-side-bar{
    display: flex;
  }
}
